# fly.toml app configuration file generated for recruit-savant-tzidng on 2025-12-04T23:58:11Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'recruit-savant-tzidng'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory = "256mb"
  memory_mb = 256
